@font-face {
    font-family: "Orbiton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("woff2");
  }


.login{
    background-image: url(./img/sukhoi-35.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
}
body{
    height: 90vh;
}

.texte{
    font-family: "Orbiton";
}

.btn{
    padding: 10px;
}

h1{
    color: white;
    
}

form{
    padding: 15px;
}