@font-face {
    font-family: "Orbiton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("woff2");
  }

body{
    background-image: url(./img/su57.jpg);
    background-size: cover;
    background-position: center;
    
}

a{
    font-family: "Orbiton";
    border: 1px solid black;
    padding: 5px;
}

p{
    font-family: "Orbiton";
    color: white;
}

