/* page index */
@font-face {
    font-family: "Orbiton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format("woff2");
  }

body{
    background-image: url(./img/sukhoi-35.jpg);
    background-size: cover;
    background-position: center;
    
}

p{
    font-family: "Orbiton";
}



button{
    padding: 10px;
    border: 1px solid black;
    font-family: "Orbiton";
}

